@import url('../var.css');

.emoji-keyboard {
  position: relative;
  display: flex;
  height: 100%;
  gap: var(--vkb-key-gap);
}

.emoji-key-tab {
  position: absolute;
  width: calc((100% - var(--vkb-key-gap) * 4) / 5);
  height: 100%;
  border-radius: var(--vkb-key-borer-radius);
  overflow: auto;
}

.emoji-key-tab::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.emoji-key-tab::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.emoji-key-tab:hover::-webkit-scrollbar-thumb {
  background: var(--vkb-key-scroll-bar-color);
}

.emoji-key-tab-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--vkb-key-gap);
  height: calc((100% - var(--vkb-key-gap) * 4) / 5);
  border-radius: var(--vkb-key-borer-radius);
  background-color: var(--vkb-key-background);
  border: var(--vkb-key-border-width) solid var(--vkb-key-border-color);
  box-shadow: 0 0 var(--vkb-key-shadow-width) var(--vkb-key-shadow-color);
  box-sizing: border-box;
  transition: all 0.3s;
  cursor: pointer;
  user-select: none;
}

.emoji-key-tab-item:last-child {
  margin-bottom: 0;
}

.emoji-key-tab-item:active,
.emoji-key-tab-item-active {
  background-color: var(--vkb-key-active-background);
  box-shadow: 0 0 var(--vkb-key-shadow-width) var(--vkb-key-active-shadow-color);
  border: var(--vkb-key-border-width) solid var(--vkb-key-active-border-color);
}

.emoji-key-content {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--vkb-key-gap);
  margin-left: calc((100% - var(--vkb-key-gap) * 4) / 5 + var(--vkb-key-gap));
  width: calc((100% - var(--vkb-key-gap) * 4) / 5 * 4 + var(--vkb-key-gap) * 3);
  height: 100%;
  border-radius: var(--vkb-key-borer-radius);
  overflow: auto;
  user-select: none;
}

.emoji-key-content::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.emoji-key-content::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.emoji-key-content:hover::-webkit-scrollbar-thumb {
  background: var(--vkb-key-scroll-bar-color);
}

.emoji-key-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc((100% - var(--vkb-key-gap) * 3) / 4);
  height: calc((100% - var(--vkb-key-gap) * 4) / 5);
  border: var(--vkb-key-border-width) solid var(--vkb-key-border-color);
  box-shadow: 0 0 var(--vkb-key-shadow-width) var(--vkb-key-active-shadow-color);
  border-radius: var(--vkb-key-borer-radius);
  background-color: var(--vkb-key-background);
  box-sizing: border-box;
  cursor: pointer;
  font-size: calc(var(--vkb-key-font-size) * 1.25);
}

.emoji-key-item:active,
.emoji-key-item-active {
  background-color: var(--vkb-key-active-background);
  box-shadow: 0 0 var(--vkb-key-shadow-width) var(--vkb-key-active-shadow-color);
  border: var(--vkb-key-border-width) solid var(--vkb-key-active-border-color);
}
