@import url('../var.css');

.number-keyboard {
  display: grid;
  grid-template-columns: repeat(5, calc((100% - var(--vkb-key-gap) * 4) / 5));
  height: 100%;
  gap: var(--vkb-key-gap);
  grid-auto-flow: row dense;
}

.number-key-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--vkb-key-background);
  border: var(--vkb-key-border-width) solid var(--vkb-key-border-color);
  box-shadow: 0 0 var(--vkb-key-shadow-width) var(--vkb-key-shadow-color);
  box-sizing: border-box;
  border-radius: var(--vkb-key-borer-radius);
  transition: all 0.3s;
  cursor: pointer;
  user-select: none;
}

.number-key-item:active {
  color: var(--vkb-key-active-font-color);
  background-color: var(--vkb-key-active-background);
  box-shadow: 0 0 var(--vkb-key-shadow-width) var(--vkb-key-active-shadow-color);
  border: var(--vkb-key-border-width) solid var(--vkb-key-active-border-color);
}

.number-key-item > svg {
  width: var(--vkb-keyboard-svg-size);
  height: var(--vkb-keyboard-svg-size);
}

.number-key-item:nth-child(5) {
  /* height: 200%; */

  /* grid-column: 5; */

  /* grid-row: 1; */
  grid-column: 5 / span 1;
  grid-row: 1 / span 2;
}

.number-key-item:nth-child(14) {
  grid-column: 5;
  grid-row: 3 / span 2;
}

/*

.number-key-item:nth-child(11) {
  grid-column: 2;
  grid-row: 3;
} */

/* .number-key-item:nth-child(12) {
  grid-column: 3;
  grid-row: 3;
}

.number-key-item:nth-child(13) {
  grid-column: 4;
  grid-row: 3;
}
.number-key-item:nth-child(13) {
  grid-column: 1;
  grid-row: 4;
} */
