.word-keyboard-temp {
  position: absolute;
  top: -52px;
  display: flex;
  gap: var(--vkb-key-gap);
  width: 100%;
  height: var(--vkb-keyboard-tab);
  padding: var(--vkb-key-gap) 0;
  background-color: var(--vkb-background);
}

.word-keyboard-temp-value {
  position: absolute;
  z-index: 1;
  top: calc(var(--vkb-keyboard-tab) / -2);
  left: 0;
  padding: 0 var(--vkb-key-gap);
  height: calc(var(--vkb-keyboard-tab) / 2);
  width: min-content;
  background-color: var(--vkb-background);
}

.word-keyboard-temp-list {
  display: flex;
  gap: var(--vkb-key-gap);
  width: 80%;
  height: 100%;
  overflow: hidden;
}

.word-keyboard-temp-char {
  display: flex;
  align-items: center;
  width: min-content;
  padding: 0 10px;
  height: 100%;
  background-color: var(--vkb-key-background);
  cursor: pointer;
  border: var(--vkb-key-border-width) solid var(--vkb-key-border-color);
  box-shadow: 0 0 var(--vkb-key-shadow-width) var(--vkb-key-shadow-color);
  box-sizing: border-box;
}

.word-keyboard-temp-right,
.word-keyboard-temp-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(10% - var(--vkb-key-gap));
  height: 100%;
  color: var(--vkb-key-color);
  fill: var(--vkb-key-color);
  background-color: var(--vkb-key-background);
  border: var(--vkb-key-border-width) solid var(--vkb-key-border-color);
  box-shadow: 0 0 var(--vkb-key-shadow-width) var(--vkb-key-shadow-color);
  box-sizing: border-box;
}

.word-keyboard-temp-right svg,
.word-keyboard-temp-left svg {
  width: var(--vkb-keyboard-svg-size);
  height: var(--vkb-keyboard-svg-size);
}

.word-keyboard-temp-char:active,
.word-keyboard-temp-right:active,
.word-keyboard-temp-left:active {
  background-color: var(--vkb-key-active-background);
  box-shadow: 0 0 var(--vkb-key-shadow-width) var(--vkb-key-active-shadow-color);
  border: var(--vkb-key-border-width) solid var(--vkb-key-active-border-color);
}

.word-keyboard-temp-right:active svg,
.word-keyboard-temp-left:active svg {
  fill: var(--vkb-key-active-font-color);
}
